
.icon-basket:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */